<!-- angular material toolbar with sidenav -->

<mat-toolbar >
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Laaka</h1>
    <span class="menu-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="['add-agent']" (click)="sidenav.toggle()"><mat-icon>add</mat-icon> Add Agent </a>
      <a mat-list-item [routerLink]="['agents']" (click)="sidenav.toggle()"><mat-icon>list</mat-icon> List Agent </a>
      <a mat-list-item [routerLink]="''" (click)="sidenav.toggle()"><mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item [routerLink]="['profile']" (click)="sidenav.toggle()" ><mat-icon>person</mat-icon> Profile </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/login'"><mat-icon>logout</mat-icon>Quit</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
